@font-face {
    font-family: deadmobil;
    src: url(../../fonts/Deadmobil-WLv4.ttf);
}

@font-face {
    font-family: robot-regular;
    src: url(../../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: starborn;
    src: url(../../fonts/Starborn.ttf);
}
@font-face {
    font-family: architects-daughter-regular;
    src: url(../../fonts/ArchitectsDaughter-Regular.ttf);
}

// $fa-font-path: './src/assets/fa-icons';
// @import '~font-awesome-sass/scss/font-awesome';