header {
    background: #eed8e3;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-block-end: 50px;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: #cb2b8f;
    font-weight: bold;
    text-decoration: overline;
}
.nav-links{
    color:rgb(68, 66, 66);
}

.logo-img{
    width: 100px;
    height: 100px;
}
.header-txt {
    color:#cb2b8f
}

.todos-prog-bar {
    background-color: #fff;
    color:rgb(68, 66, 66);
    position: relative;
    height: 1.5em;
}
.prog-accomplished {
    transition: background 0.3s, width 0.15s;
    /* position: absolute; */
    height: 100%;
    width: 100%;
    background: #cb2b8f;
}
.todos-prog-bar p {
    /* margin-inline-start: 2em; */
    /* position: absolute; */
    /* z-index: 3; */
}